#game_div{
    text-align: center;
}

canvas {
    background-color: #CCCC99;
    padding: 5px;
    margin: 5px;
    border-width: 5px;
    border-color: #2F4F4F;
    border-style: solid;
}

body {
    background-color: #FFE4E1;
}

#instructions, #title {
	width: 1160px;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
}

ul {
	font-size: larger;
}

#game-title {
	font-size: 70px;
	font-family: 'Bowlby One SC', 'cursive';
	color: #000066;
}

h5 {
	padding-left: 10px;
}