.link {
	font-size: x-large;
	font-family: Futura, serif;
	font-style: oblique;
	color: blue;
	position: relative;
    bottom: 0;
    right: -150px;
}

.head {
	font-size: xx-large;
	font-family: "Copperplate Gothic Bold", serif;
	font-style: italic;
	color: #FFCC00;
	position: relative;
    bottom: 0;
    right: -150px;
}

#selfimg {
	position: relative;
    bottom: 0;
    right: -125px;

}

.bg {
	background-color: #996699;

}

#bio {
	width: 400px;
	font-size: large;
	font-family: Copperplate, serif;
	font-style: normal;
	color: #CD853F;
	position: relative;
    bottom: 0;
    right: -50px;
    border-bottom: green;
    border-left: silver;
    border-right: black;
    border-top: red;
    border-width: 5px;
    border-style: double;
}

.biohead {
	font-size: xx-large;
	font-family: Geneva, serif;
	font-style: italic;
	color: #B0C4DE;
	position: relative;
    bottom: 0;
    right: -100px;
}

.resumehead {
	font-size: x-large;
	font-family: Copperplate, serif;
	font-style: italic;
	color: #F0F8FF;
	margin-top: 15px;
	margin-bottom: 15px;
}


.resumeinfo {
	font-size: medium;
	font-family: "Gill Sans", serif;
	font-style: normal;
	color: black;
	width: 500px;
}

ul {
	margin-bottom: 10px;
	margin-top: 10px;
}