.link {
	font-size: x-large;
	font-family: Futura, serif;
	font-style: oblique;
	color: red;
	position: relative;
    bottom: 0;
}

.head {
	font-size: xx-large;
	font-family: "Copperplate Gothic Bold", serif;
	font-style: italic;
	color: #FFCC00;
	position: relative;
    bottom: 0;
}

#selfimg {
	position: relative;
    bottom: 0;

}

.bg {
	background-color: #87CEFA;

}


#bio {

	font-size: large;
	font-family: Copperplate, serif;
	font-style: normal;
	color: #CD853F;
	position: relative;
    bottom: 0;
    border-bottom: olive;
    border-left: silver;
    border-right: black;
    border-top: red;
    border-width: 5px;
    border-style: double;
}

.biohead {
	
	font-size: xx-large;
	font-family: Geneva, serif;
	font-style: italic;
	color: #32CD32;
    bottom: 0;
}

.resumehead {
	font-size: x-large;
	font-family: Copperplate, serif;
	font-style: italic;
	color: #F0F8FF;
	margin-top: 15px;
	margin-bottom: 15px;
}


.resumeinfo {
	font-size: medium;
	font-family: "Gill Sans", serif;
	font-style: normal;
	color: black;
}